<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLTGConnectionString" connectionString="Data Source=THIENLAP-LAPTOP;Initial Catalog=QLTG;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLTGConnectionString1" connectionString="Data Source=THIENLAP-LAPTOP;Initial Catalog=QLTG;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>